@import "~normalize.css";
@import "~element-ui/lib/theme-chalk/index.css";

body {
  font-family: Lato, sans-serif;
}

.header {
  padding: 0;
}

.main {
  background: #ffffff;
  min-height: calc(100vh - 90px);
  padding: 0;
}

.footer {
  background: #222222;
  color: #f2f2f2;
  line-height: 30px;
  height: 30px !important;
  font-size: 12px;
  text-align: right;
}
